.osmodal {}

.osmodal.open .modal-overlay,
.osmodal.open .modal-window {
    opacity: 1;
    z-index: 9999;
}

.osmodal.hide .modal-overlay,
.osmodal.hide .modal-window {
    opacity: 1;
    z-index: 9999;
}

.osmodal.hide .modal-window {
    transform: translateY(-1000px);
}

.osmodal.hide .modal-overlay {
    background: rgba(0, 0, 0, 0);
}

.osmodal.open .modal-window {
     transform: translateY(0px);
 }

.osmodal.open .modal-overlay {
    background: rgba(0, 0, 0, 0.3);
}

.modal-overlay, .modal-window {
    opacity: 0;
    z-index: -1;
}
.modal-overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0);
    transition: background-color .5s ease-in;
}
.modal-window {
    width: 600px;
    min-height: 50px;
    border-radius: 5px;
    background: #fff;
    margin: 0 auto;
    transform: translateY(-1000px);
    transition: transform .2s ease-in;
}

.modal-header {
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #D9D9D9;
}

.modal-title {
    font-size: 1.5rem;
}

.modal-close {
    cursor: pointer;
}

.modal-body {
    padding: 10px;
}

.modal-footer{
    padding: 5px 10px;
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #D9D9D9;
}

.modal-button {
    cursor: pointer;
    border-radius: 3px;
    padding: 0.5rem;
    margin-right: 1rem;
}

.ok {
    background-color: #4F9900;
    color: white;
}

.close {
    background-color:crimson;
    color: white;
}

.modal-button:hover {
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0,0,0,0.5);
}